<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
    <script src="{{ url_for('static', filename='jquery.slim.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body>
  {% include "layout/nav.html" %}
  <div class="container">
    {% include "layout/messages.html" %}
    {% block body %}{% endblock %}
  </div>
  {% include "layout/footer.html" %}
  </body>
</html>
